<div class="row">
  <div class="twelve columns">
    <ul class="vcard">
      <li class="fn">Pere Urbon-Bayes</li>
      <li class="locality">Berlin</li>
      <li><span class="state">Germany</span>, <span class="zip">12045</span></li>
      <li><span class="tel">+49 157 81949910</span></li>
      <li class="email">
        <%= mail_to("pere.urbon [at] gmail.com", "pere.urbon {at} gmail.com", subject: "Request of Information") %>
      </li>
    </ul>
  </div>
</div>
