// Place all the styles related to the web controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  overflow: hidden;
  #logo {
    float: left;
    margin: 0 0;
    padding: 0 0;
    h1 {
      margin: 0 0;
      padding: 0 0;
    }
    h4 {
     font-size: 10px;
     margin: 0;
     padding: 0;
    }
  }
  .options {
    opacity: .9;
    float: right;
    margin: 0 1em 0 0;
    padding: 0 0 1em 0;
    
    ul.menu {
      float: left;
      list-style: none;
      overflow: hidden;
    }
    ul.menu li {
      display: inline;
      margin-right: 1em;
    }

    ul.menu li a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }

    .locale {
      float: right;
      margin-right: 1em;
    }
  }
}

#body {
  overflow: hidden;
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 1em;
    line-height: 1.2em;
    color: #151515;
  }
  section {
    height: 100%;
    .content {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align:justify;
      h1 {
        margin-top: 0px;
        margin-bottom: 5px;
      }
    }
  }
  section.first {
     background: url('datacenter.jpg') no-repeat fixed center top;
     max-width: 100%;
     color: white;
     margin-top: 0;
     height: 350px;
     h1 {
       margin-top: 0;
       padding-top: 100px;
       color: white;
     }
     p {
       margin-left: auto;
       margin-right: auto;
     }
  }

  section.white {
    background: url('wave-blue.png') top left repeat-x,  url('wave-blue-bottom.png') bottom left repeat-x;
    background-size: 8px 2px;
  }

  section.blue {
    background: rgb(88, 115, 130) url(/images/wave-white.png) top left repeat-x;
    background-size: 7px 2px;
   }

  section#profile {
    .column {
      display: inline-block;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h3 {
        text-align: center;
      }
      width: 33%;
    }
  }

  .contact {
    text-align: center !important;
    text-decoration: underline;
    font-weight: bold;
    a {
      text-decoration: none;
      color: #fa0;
    }
  }

  .credits {
    background: url('wave-blue.png') top left repeat-x !Important;
    background-size: 8px 2px !Important;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 10px;
  }

  ul.social {
    float: left;
    list-style: none;
    li {
      display: inline;
    }
    .img_wrapper {
      display: inline-block;
      width: 32px;
      height: 32px;
    }
  }
}
