// Place all the styles related to the web controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: #000;
  text-decoration: none;
}
.social {
  li {
    line-height: 16px;
    margin-bottom: 0;
  }
}

#header {
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    a {
      color: #000;
    }
    margin: 0.5em;
    margin-bottom: 0px;
  }

   .menu {
     td {
      width: 50%;
     }
     td:first-child { 
      float: left;
     }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      margin-right: 3em;
    }

    li {
      float: right;
    }

    li a {
      display: block;
      text-align: center;
      padding: 5px;
      text-decoration: none;
    }

    li a:hover {
      //background-color: #111111;
    }
  }

}

ul.no-bullet {
  list-style-type: none;
}

#body {
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 1em;
    line-height: 1.2em;
    color: #151515;
  }

  .right-bar {
    border-right: thick solid #000;
    padding-right: 1em;
  }

  .head img {
    box-shadow: 8px 8px 10px #aaa;
  }

  .whoim {
    text-align: justify;
  }
  .services {
     h3, h4 {
      margin-bottom: 0;
     }
     .top {
       float: right;
       font-style: italic;
       font-size: 50%;
     }
  }

  .contact {
    text-align: center !important;
    text-decoration: underline;
    font-weight: bold;
    a {
      text-decoration: none;
      color: #fa0;
    }
  }

  .credits {
    background: url('wave-blue.png') top left repeat-x;
    background-size: 8px 2px !Important;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 10px;
    color: #fff;
  }

  section#experiences {
      .experience {
        display: inline-block;
        img {
          display: inline-block;
          width: auto;
          height: 100px;
        }
        margin: 0 5px 0 0;
    }
  }
}

#cv {
 h1 {
   margin: 0.1em 0;
 }
}


/* hCard */
ul.vcard { display: inline-block; margin: 0 0 12px 0; border: 1px solid #ddd; padding: 10px; }
ul.vcard li { margin: 0; display: block; }
ul.vcard li.fn { font-weight: bold; font-size: 15px; font-size: 1.5rem; }

p.vevent span.summary { font-weight: bold; }
p.vevent abbr { cursor: default; text-decoration: none; font-weight: bold; border: none; padding: 0 1px; }

.event {

  h3 {
    margin-bottom: 0.1em;

  }
  .item {
    width: 70%;
    height: 70%;
  }
}

.menu {
  td {
    width: 50%;
  }
  td:first-child { 
    float: left;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 3em;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }

  li a:hover {
    //background-color: #111111;
  }
}
