
<h1> Presentations and Conferences </h1>

<ul class="no-bullet menu">
  <li class=""><%= link_to t('2016'), communications_path(anchor: '2016') %></li>
  <li class=""><%= link_to t('2015'), communications_path(anchor: '2015') %></li>
  <li class=""><%= link_to t('2014'), communications_path(anchor: '2014') %></li>
</ul>

<hr/>

<h2> 2016 </h2>

<div class="event">
  <div class="row">
    <div class="one-third columns"><h3>Ingesting Logs with Style</h3></div>
    <div class="one-third columns"><a href="https://www.netways.de/en/events_trainings/osdc/overview/">Open Source Data Center Conference</a>, Berlin/DE</div>
    <div class="one-third columns"><a href="https://speakerdeck.com/purbon/ingesting-logs-with-style">Slides</a></div>
  </div>
    <div class="row">
    <div class="twelve columns">
      The log shipping scene been between us for a long time: from syslog, rsyslog to nowadays Fluentd, Flume and Logstash. Logstash been pushing hard to introduce new features that make the experience better for everyone. At the end of the day, a healthy shipper means a happy sysadmin. The latest Logstash includes persistence to reduce the chance of data loss, monitoring to find how everything is going and configuration management to make your life a lot easier. But wait, there’s more! Offline support, improved shutdown semantics, etc … features that will make your logs shipped and you a rested sysadmin. 
      In this talk we’ll see this features in action thought a real live sensor monitoring example. By the end of the session, you will be able to use the full power of Logstash in your own deployments.
    </div>
  </div>
</div>

<br/>

<div class="event">
  <div class="row">
    <div class="one-third columns"><h3>Let's validate your releases with jruby, rspec and ssh</h3></div>
    <div class="one-third columns"><a href="http://www.rug-b.de/">Ruby User Group</a>, Berlin/DE</div>
    <div class="one-third columns"><a href="https://speakerdeck.com/purbon/lets-validate-your-releases-with-jruby-rspec-and-ssh">Slides</a></div>
  </div>
  <div class="row">
    <div class="twelve columns">
        A short talk on how we validate our released inside the logstash project with jruby, rspec and ssh.
    </div>
  </div>
</div>
<br/>

<h2><a href="#" id="2015">2015</a></h2>


<div class="event">
  <div class="row">
    <div class="one-third columns"><h3>Hands on Elastic(search*)</h3></div>
    <div class="one-third columns"><a href="http://galicia2015.librecon.io/">Librecon</a>, Santiago de Compostela/ES</div>
    <div class="one-third columns"><a href="https://speakerdeck.com/purbon/hands-on-elastic-search-star">Slides</a></div>
  </div>
  <div class="row">
    <div class="twelve columns">
      Tecnical hands on and overview about the ElasticStack.
    </div>
  </div>
</div>


<div class="event">
  <div class="row">
    <div class="one-third columns"><h3>Scaling Logstash: A Collection of War Stories</h3></div>
    <div class="one-third columns"><a href="https://www.netways.de/en/events_trainings/osdc/overview/">Open Source Data Center Conference</a>, Berlin/DE</div>
    <div class="one-third columns"><a href="https://speakerdeck.com/purbon/scaling-logstash-a-collection-of-war-stories">Slides</a></div>
  </div>
  <div class="row">
    <div class="twelve columns">
      In this talk, we will cover several strategies for successfully scaling Logstash. Through the lens of several real-life war stories, you willl learn how to make Logstash sing alongside RabbitMQ, Redis, ZeroMQ, Kafka and much more. If you are ready to grow at scale and make your infrastructure more resilient, this talk is for you.
      Talk given at OSDC 2015 in Berlin, <a href="https://www.netways.de/index.php?id=2567&L=1">(link)</a>
    </div>
  </div>
</div>

<h2><a href="#" id="2014">2014</a></h2>


<div class="event">
  <div class="row">
    <div class="one-third columns"><h3>The Graph Processing Atelier</h3></div>
    <div class="one-third columns"><a href="http://2014.eurucamp.org/">Eurucamp</a>, Berlin/DE</div>
    <div class="one-third columns"><a href="https://speakerdeck.com/purbon/the-graph-processing-atelier">Slides</a></div>
  </div>
  <div class="row">
    <div class="twelve columns">
      Slides used to introduce the graph processing atelier being made at eurucamp 2014.
    </div>
  </div>
</div>

<h1> Publications </h1>

<hr/>

<h2> 2016 </h2>

<div class="event">
  <div class="row">
    <div class="one-third columns"><h3>Logfile-Analyse: Even und Log Daten aufbereiten mit Logstash</h3></div>
    <div class="one-third columns"><a href="http://www.heise.de/ix/inhalt/2016/10/132/">Heise iX: Magazin für professionelle informationstechnik</a>, Germany</div>
    <div class="one-third columns">Isabel Drost-Fromm, Pere Urbon-Bayes</div>
  </div>
    <div class="row">
    <div class="twelve columns">
      Admins und Entwickler lieben Logs, mit denen sie Problemen und Fehlern auf die Spur kommen können. Wenn relevante Ereignisse allerdings verteilt über mehrere Rechner in unterschiedlichen Formaten protokolliert werden, macht das die Analyse arg umständlich. Logstash führt verschiedene Event-Quellen zusammen und füttert sie beispielsweise in einen Elasticsearch-Suchindex.
    </div>
  </div>
</div>

<h2> 2010 </h2>

<div class="event">
  <div class="row">
    <div class="one-third columns"><h3>Survey of Graph Database Performance on the HPC Scalable Graph Analysis Benchmark</h3></div>
    <div class="one-third columns"><a href="http://dx.doi.org/10.1007/978-3-642-16720-1_4">Proceedings of the the first International Workshop on Graph Database</a> (JiuZhaiGoi Valley, China, July 15, 2010)</div>
    <div class="one-third columns">D. Dominguez-Sal, P. Urbón-Bayes, A. Giménez-Vañó, S. Gómez-Villamor, N. Martínez-Bazán, J. L. Larriba-Pey</div>
  </div>
    <div class="row">
    <div class="twelve columns">
      The analysis of the relationship among data entities has lead to model them as graphs. Since the size of the datasets has significantly grown in the recent years, it has become necessary to implement efficient graph databases that can load and manage these huge datasets.
In this paper, we evaluate the performance of four of the most scalable native graph database projects (Neo4j, Jena, HypergraphDB and DEX). We implement the full HPC Scalable Graph Analysis Benchmark, and we test the performance of each database for different typical graph operations and graph sizes, showing that in their current development status, DEX and Neo4j are the most efficient graph databases.
    </div>
  </div>
</div>
