<h1>CV</h1>
<h2>Topics</h2>
<div class="row">
  <div class="small-12 columns">
    <p> <a href="https://www.ruby-lang.org/en/">Ruby</a>,
    <a href="java.oracle.com">Java</a>, Javascript, C, CSharp, Python, MySQL, PostgreSQL, SQL Server, <a href="http://www.neo4j.org/">Neo4j</a>, DEX, <a href="http://www.mongodb.org/">MongoDB</a>, Cassandra, Redis, Hadoop,
    <a href="http://rubyonrails.org/">Ruby On Rails</a>, Sinatra, Capistrano, Resque, RSpec, <a href="http://www.w3.org/TR/html5/">HTML5</a>, CoffeeScript, Backbone.js, JQuery, JSP, Struts, GWT, Hibernate, Tomcat,
    Linux, Git, Subversion.
    </p>
  </div>
</div>
<h2>I worked for</h2>
<div class="row">
  <div class="small-6 columns"><b>Software Architect</b></div>
  <div class="small-6 columns text-right">March 2012 - Present</div>
</div>
<div class="row">
  <div class="small-6 columns">Belectric IT Solutions Gmbh</div>
  <div class="small-6 columns text-right">Jena, Germany</div>
</div>
<div class="row">
  <div class="small-12 columns"><p class="text-justify">As a software engineer I’m de responsible of handcrafting new apps for and by the energy man-
    agement society. Helping clients and companies deal with large amount of data, and helping our
    planet to be more green. With special focus on Smart Grid solutions, we provide solar energy
    companies with solutions to improve, and analyse, their production process. This projects include
    collaborations with top German Universities.</p>
  </div>
</div>
<div class="row">
  <div class="small-6 columns"><b>Senior Data Digester</b></div>
  <div class="small-6 columns text-right">March 2011 - Feb 2012</div>
</div>
<div class="row">
  <div class="small-6 columns">Moviepilot Gmbh</div>
  <div class="small-6 columns text-right">Berlin, Germany</div>
</div>
<div class="row">
  <div class="small-12 columns"><p class="text-justify">As a senior data digester I’m involved into every NoSQL use case detected inside the company.
    Specialized on Graph databases, developing algorithms and data modeling and analytics over some
    huge datasets.
    </p>
  </div>
</div>
<div class="row">
  <div class="small-6 columns"><b>Senior Software Engineer</b></div>
  <div class="small-6 columns text-right">May 2008 - Dec 2010</div>
</div>
<div class="row">
  <div class="small-6 columns">Barcelona, Spain</div>
  <div class="small-6 columns text-right">Data Management Group - Dept of Computer Architecture, Universitat Politecnica de Catalunya</div>
</div>
<div class="row">
  <div class="small-12 columns"><p class="text-justify">As a DEX team member I’m the main developer taking on the evolution of the new visual management tool set. DEX is a new generation of database following the graph database paradigm,
    specifically DEX has got very optimal performance times with database of TB. Also I’m in charge of
    the maintenance of Bibex, a bibliographic search application on top of DEX. The main technologies
    involved in my work are Java, J2EE and Python</p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <p>
    For a more complete description check my <%= link_to 'Linkedin profile', 'https://www.linkedin.com/in/purbon' %> or <%= link_to 'ask me', contactme_path %> for a copy of my resume.
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="vcard">
      <li class="fn">Pere Urbon-Bayes</li>
      <li class="locality">Berlin</li>
      <li><span class="state">Germany</span>, <span class="zip">12045</span></li>
      <li class="email"><%= link_to t('contactme'), contactme_path %></li>
    </ul>
  </div>
</div>
