<section class="first">
<h1>Who I'm</h1>
<p>I'm Pere Urbón, a seasoned software developer from Barcelona.</p>
</section>

<section id="profile">
<h1>Profile</h1>
<div class="column">
  <%= image_tag('carpintery.png') %>
  <h3>Software Carpitenry</h3>
  <p>
  Sofware development
  </p>
</div>
<div class="column">
  <%= image_tag('databases.png') %>
  <h3>NoSQL Engineering</h3>
  <p>
  NoSQL engineering
  </p>
</div>
<div class="column">
  <%= image_tag('consulting.png') %>
  <h3>Consulting</h3>
  <p>
  Consulting
  </p>
</div>
</section>

<section id="contactme">
<h1>Contact me!</h1>
</section>
