<h1> Presentations and Conferences </h1>

<ul class="no-bullet">
  <li class=""><%= link_to t('2016'), slides_path(anchor: '2016') %></li>
  <li class=""><%= link_to t('2015'), slides_path(anchor: '2015') %></li>
  
</ul>

<h2> 2016 </h2>

<div class="event">
  <div class="row">
    <div class="one-third columns"><h3>Ingesting Logs with Style</h3></div>
    <div class="one-third columns"><a href="https://www.netways.de/en/events_trainings/osdc/overview/">Open Source Data Center Conference</a>, Berlin/DE</div>
    <div class="one-third columns"><a href="https://speakerdeck.com/purbon/ingesting-logs-with-style">Slides</a></div>
  </div>
    <div class="row">
    <div class="twelve columns">
      The log shipping scene been between us for a long time: from syslog, rsyslog to nowadays Fluentd, Flume and Logstash. Logstash been pushing hard to introduce new features that make the experience better for everyone. At the end of the day, a healthy shipper means a happy sysadmin. The latest Logstash includes persistence to reduce the chance of data loss, monitoring to find how everything is going and configuration management to make your life a lot easier. But wait, there’s more! Offline support, improved shutdown semantics, etc … features that will make your logs shipped and you a rested sysadmin. 
      In this talk we’ll see this features in action thought a real live sensor monitoring example. By the end of the session, you will be able to use the full power of Logstash in your own deployments.
    </div>
  </div>
</div>

<div class="event">
  <div class="row">
    <div class="one-third columns"><h3>Let's validate your releases with jruby, rspec and ssh</h3></div>
    <div class="one-third columns"><a href="http://www.rug-b.de/">Ruby User Group</a>, Berlin/DE</div>
    <div class="one-third columns"><a href="https://speakerdeck.com/purbon/lets-validate-your-releases-with-jruby-rspec-and-ssh">Slides</a></div>
  </div>
  <div class="row">
    <div class="twelve columns">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis non lorem sit amet pellentesque. Ut non rutrum urna, id fringilla leo. Suspendisse nec nunc a sem euismod suscipit aliquam vel dolor. 
    </div>
  </div>
</div>


<h2><a href="#" id="2015">2015</a></h2>


<div class="event">
  <div class="row">
    <div class="one-third columns"><h3>Hands on Elastic(search*)</h3></div>
    <div class="one-third columns"><a href="http://galicia2015.librecon.io/">Librecon</a>, Santiago de Compostela/ES</div>
    <div class="one-third columns"><a href="https://speakerdeck.com/purbon/hands-on-elastic-search-star">Slides</a></div>
  </div>
  <div class="row">
    <div class="twelve columns">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis non lorem sit amet pellentesque. Ut non rutrum urna, id fringilla leo. Suspendisse nec nunc a sem euismod suscipit aliquam vel dolor. 
    </div>
  </div>
</div>
